---
title: BritePool API Reference

language_tabs: # must be one of https://git.io/vQNgJ
  - javascript
  - html

toc_footers:
  - <a href='https://github.com/lord/slate'>Documentation Powered by Slate</a>

includes:
  - errors

search: true
---

# Introduction

Welcome to the BritePool API. It's Awesome.

This example API documentation page was created with [Slate](https://github.com/lord/slate). Feel free to edit it and use it as a base for your own API's documentation.

# Metrics
<%= partial "includes/dsp_bid_returned.md.erb" -%>
<aside class="success">
Remember — Include your API Key as x-api-key Request header
</aside>
<%= partial "includes/dsp_bid_requested.md.erb" -%>
<aside class="success">
Remember — Include your API Key as x-api-key Request header
</aside>
<%= partial "includes/dsp_ad_win_notification.md.erb" -%>
<aside class="success">
Remember — Include your API Key as x-api-key Request header
</aside>
<%= partial "includes/request_object.md.erb" -%>
